/*
 * Style Sheet Structure:
 * Top-Bottom
 * Outside-In
 * Left-Right
 * Block Element Modifier
 */

// Reminder to import fonts

// Variables
$bg-primary: hsl(67, 81%, 96%);
$nav-overlay: hsla(0, 16%, 17%, 0.5);
$logo-font: hsla(60, 18%, 84%, 0.8);
$tab-font: hsla(60, 33%, 96%, 0.8);
$home-overlay: hsla(0, 22%, 92%, 0.9);
$home-font-color: hsla(0, 9%, 9%, 0.9);

// Mixins
@mixin init-flex($orientation: row, $justify: center, $align: center) {
  display: flex;
  flex-flow: $orientation;
  justify-content: $justify;
  align-items: $align;
}

@mixin default-styling {
  width: min(40rem, 80%);
  min-height: 100%;
  height: 80vh;
  margin: 1rem;
  background-color: $home-overlay;
  border-radius: 5% / 5%;
  color: $home-font-color;
}

// Base
:root {
  color: black;
  font-size: 16;
}

*,
*::before,
*::after {
  border: 2px solid red;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
  height: 100vh;
  width: 100vw;
}

.content {
  @include init-flex(column);
  position: relative;
}

// Header
.nav {
  @include init-flex(row, space-between, center);
  width: 100vw;
  padding: 1rem;
  margin: 1rem;
  background-color: $nav-overlay;
  font-size: 2rem;
  color: $logo-font;

  &__tab {
    @include init-flex(row);
    margin-left: auto;
    gap: 0.2rem;
    font-size: 1.5rem;
    color: $tab-font;
    cursor: pointer;
  }

  &__item {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
  }

  &--sticky {
    position: sticky;
    top: 1rem;
  }
}

// Home Page also pls add hover effect for home
.home {
  @include init-flex(column, space-around);
  @include default-styling;

  &__slogan {
    font-size: 3rem;
  }

  &__order {
    font-size: 2.5rem;
    text-align: center;
  }

  &__pick-up {
    color: $home-overlay;
    font-weight: 700;
    background-color: $nav-overlay;
    padding: 0.25rem 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  &__delivery {
    color: $home-overlay;
    font-weight: 700;
    background-color: $nav-overlay;
    padding: 0.25rem 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  &--img {
    width: 90%;
    border-radius: 20%;
    border-bottom-left-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  &--shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.menu {
  @include init-flex(column, space-around);
  @include default-styling;
}

.container__main {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: -20rem;
  padding-top: 20rem;

  //img
  background-image: url("../imgs/ambient.jpg");
  background-size: cover;
  background-position: center;
}

// Menu

// Contact
